<template>
  <table
    style="font-size: 0; margin-top: 10px;"
    cellspacing="0"
    cellpadding="0"
    border="0"
    role="presentation"
  </table>
</template>

<script>
export default {
  name: 'PromoteSignature',

  data () {
    return {

    }
  }
}
</script>

<style lang="scss">

</style>
